{% extends 'base.html.twig' %}

{% block title %}Каталог{% endblock %}

{% block body %}
    {% for name in names %}
        <div class="container mx-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ name.name }}</h5>
                    <p class="card-text">{{ name.description|striptags|slice(0,200) ~ '...' }}</p>
                    <div class="card-footer">Цена: {{name.price}} рублей</div>
                    <a href="{{ path('name_show', {'id': name.id}) }}" class="btn btn-primary my-2">Подробнее</a>
                </div>
            </div>
        <div>
    {% endfor %}
{% endblock %}
